<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en" data-bs-theme="auto">

    <div th:fragment="card(music)">
      <div th:id="|musicCard${music.id}|" class="card shadow-sm square" data-bs-toggle="modal" th:data-bs-target="|#musicModal${music.id}|">
        <img
          class="bd-placeholder-img card-img-top card-top"
          width="100%"
          height="225"
          th:src="@{/images/{url}(url=${music.image})}"
          onerror="/img/x_mark.png"
          role="img"
          aria-label="Placeholder: Thumbnail"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        />

        <div
          class="card-body d-flex flex-column card-bottom justify-content-center"
        >
          <div class="d-flex justify-content-start">
<!--            <i th:if="${}" class="fa-regular fa-heart"></i>-->
            <i th:id="|likesOutModal${music.id}|"
               class="fa-solid fa-heart" style="color: #ff0000;"></i>
            <p th:text="| ${music.likeCount}|"></p>
          </div>
          <p class="card-text" th:text="${music.title}">Title</p>
          <p class="card-text" th:text="${music.artist}">artist</p>
          <div class="d-flex justify-content-start align-items-center">
            <small class="text-body-secondary me-2">
              <a class="link-dark"
                 th:each="mood : ${music.moods}"
                 th:text="|#${mood} |" th:href="@{/musics(type='mood',keyword=${mood})}"></a>
            </small>
          </div>
          <div class="d-flex justify-content-end align-items-center">
              <small class="text-body-secondary me-2">
                <a th:href="@{/user/{userId}(userId = ${music.user.id})}" class="link-dark" th:text="${music.user.username}"></a>
              </small>
          </div>
          <div class="d-flex justify-content-end align-items-center">
          </div>

        </div>
      </div>

      <div class="modal fade" th:id="|musicModal${music.id}|" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="${music.title}">Modal title</h1>
                <div>
                    <i sec:authorize="isAuthenticated()"
                       th:if="${music.likeStatus}"
                       th:id="|likesInModal${music.id}|"
                       th:onclick="|toggleLike(${music.id})|"
                       class="fa-solid fa-heart fa-xl" style="color:red"></i>
                    <i sec:authorize="isAuthenticated()"
                       th:unless="${music.likeStatus}"
                       th:id="|likesInModal${music.id}|"
                       th:onclick="|toggleLike(${music.id})|"
                       class="fa-regular fa-heart fa-xl"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

            </div>
            <div class="modal-body">
              <img
                      class="bd-placeholder-img card-img-top card-top"
                      width="100%"
                      height="225"
                      th:src="@{/images/{url}(url=${music.image})}"
                      onerror="/img/x_mark.png"
                      role="img"
                      aria-label="Placeholder: Thumbnail"
                      preserveAspectRatio="xMidYMid slice"
                      focusable="false"
              />

              <div class="music_detail_info">
                <p th:text="${music.artist}"></p>
                <p th:text="${music.moods}"></p>
                <p th:text="${music.details}"></p>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">

              <div th:if="${music.owner}">
                <button type="button" class="btn btn-primary" th:onclick="|updateMusic(${music.id})|">Update</button>
                <button type="button" class="btn btn-danger" th:onclick="|checkDelete(${music.id})|">Delete</button>
              </div>
              <div th:unless="${music.owner}">
                <p></p>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</html>
