<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:replace="~{/fragment/head :: head('Home')}"></head>
  <body>
    <!-- HEADER -->
    <div th:replace="~{/fragment/header :: main-header}"></div>
    <!-- MAIN -->
    <main>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light" th:text="${title}">Title</h1>
<!--            <p class="lead text-body-secondary">-->
<!--              Something short and leading about the collection below—its-->
<!--              contents, the creator, etc. Make it short and sweet, but not too-->
<!--              short so folks don’t simply skip over it entirely.-->
<!--            </p>-->
<!--            <p>-->
<!--              <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
<!--              <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
<!--            </p>-->
          </div>
        </div>
      </section>
      <nav aria-label="Page navigation example" >
        <ul class="pagination justify-content-center">

          <li class="page-item">
            <a class="page-link" th:href="@{/{menu}(menu = ${menu}, page=1)}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" th:href="@{/{menu}(menu = ${menu}, page=${beforePage})}" aria-label="Previous">
              <span aria-hidden="true">&lt;</span>
            </a>
          </li>
          <th:block  th:each="num: ${#numbers.sequence(startPage, endPage)}">

            <li th:if="${musics.getNumber() == (num - 1)}" class="page-item active" aria-current="page">
              <a class="page-link"
                 th:href="@{/{menu}(menu = ${menu}, page=${num})}"
                 th:text="${num}">1</a>
            </li>

            <li th:unless="${musics.getNumber() == (num - 1)}" class="page-item">
              <a class="page-link"
                 th:href="@{/{menu}(menu = ${menu}, page=${num})}"
                 th:text="${num}">1</a>
            </li>
          </th:block>
          <li class="page-item">
            <a class="page-link" th:href="@{/{menu}(menu = ${menu}, page=${nextPage})}" aria-label="Next">
              <span aria-hidden="true">&gt;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" th:href="@{/{menu}(menu = ${menu}, page=${musics.getTotalPages()})}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="album py-5 ">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
            <!-- CARD -->
            <div class="col" th:each="music : ${musics}">
                <div th:replace="~{/fragment/card :: card(${music})}"></div>
            </div>
          </div>
        </div>
      </div>

    </main>

<!--    <script src="/js/modals.js"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>-->

  <div th:replace="~{/fragment/script :: script}"></div>
  </body>
  </body>
</html>
